In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split 
import numpy as np

In [2]:
data = pd.read_csv("F:/AIMLP/Titanic_Data.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    if pd.isnull(Age):
        if Pclass == 1:
            return 37
        elif Pclass == 2:
            return 29
        else:
            return 24
    else:
        return Age
    
data['Age'] = data[['Age','Pclass']].apply(impute_age,axis=1)

In [4]:
#new_df = data.drop(['PassengerId','Name','Cabin','Ticket'],axis=1)
data.drop(['Cabin'],axis=1,inplace=True)

In [5]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [6]:
new_df = data.drop(['PassengerId','Name','Survived','Ticket'],axis=1)

In [7]:
sex = pd.get_dummies(data['Sex'],drop_first=True)
embark = pd.get_dummies(data['Embarked'],drop_first=True)
data.drop(['Sex','Embarked','Name','Ticket'],axis=1,inplace=True)

In [8]:
data = pd.concat([data,sex,embark],axis=1)

In [9]:
data.drop(['PassengerId'],axis=1,inplace=True)

In [10]:
x = data.drop(['Survived'],axis=1 )
y= data['Survived']

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [12]:
clf_tree = tree.DecisionTreeClassifier(criterion='entropy')

In [13]:
x_train.head()

     Pclass   Age  SibSp  Parch     Fare  male  Q  S
140       3  24.0      0      2  15.2458     0  0  0
439       2  31.0      0      0  10.5000     1  0  1
817       2  31.0      1      1  37.0042     1  0  0
378       3  20.0      0      0   4.0125     1  0  0
491       3  21.0      0      0   7.2500     1  0  1

In [14]:
y_train.head()

140    0
439    0
817    0
378    0
491    0
Name: Survived, dtype: int64

In [15]:
clf_tree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [16]:
import graphviz

#graph.render("titanic")
dot_data = tree.export_graphviz(clf_tree,out_file=None,feature_names =('Pclass','Age','SibSp','Parch','Fare','male','Q','S'),
                               class_names=('Survived'),
                               filled=True,rounded=True,
                               special_characters=True)
graph = graphviz.Source(dot_data)

In [17]:
graph

ExecutableNotFound: failed to execute ['dot', '-Tsvg'], make sure the Graphviz executables are on your systems' PATH

SyntaxError: invalid syntax (<ipython-input-18-4624d40c13a5>, line 1)